@{
    ViewBag.Title = "Mobile Taxi";
}

@section headscript{
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script>
    <script type="text/javascript">
        var map;
        var _markers = [];
        var image;
        function initialize() {
            var latitude = 38.27,
                longitude = 27.26,
                center = new google.maps.LatLng(latitude, longitude),
                mapOptions = {
                    center: center,
                    zoom: 12,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    scrollwheel: true
                };

            map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

            window.setInterval(function () {
                setMarkers(center, map);
            }, 15000);

            setMarkers(center, map);//initial call
        }

        function setMarkers(center, map) {
            var json = (function () {
                var json = null;
                $.ajax({                    
                    async: false,
                    global: false,
                    url: "http://svktylmz-001-site1.myasp.net/api/onlinevehicle",
                    dataType: "json",
                    success: function (data) {
                        json = data;
                    },
                    error: function () { window.alert("json load fail");}
                });
                return json;
            })();

            var imageA = {
                url: 'content/images/TaxiAvailable.png'
            };
            var imageB = {
                url: 'content/images/TaxiBusy.png'
            };

            //delelte markers first and loop between each of the json elements
            //delete
            for (var i = 0; i < _markers.length; i++) {
                _markers[i].setMap(null);
            }
            _markers = [];

            for (var i = 0, length = json.length; i < length; i++) {
                var data = json[i];

                latLng = new google.maps.LatLng(data.Lat, data.Lng);
                if (data.StatusId == 1) {
                    image = imageA;
                } else {
                    image = imageB;
                }

                var marker = new google.maps.Marker({
                    position: latLng,
                    map: map,
                    icon: image
                });
                _markers.push(marker);
            }
            
        }    

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
}

<div class="col-lg-1">
</div>

<div class="col-lg-10" style="background-color: Background">
    <div id="map-canvas">...</div>
</div>

<div class="col-lg-1">
</div>
